@tailwind base;
@tailwind components;
@tailwind utilities;

form {
  margin-top: 10%;
  padding: 2%;
  width: 70%;
}

input{
  width: 50%;
  @apply rounded-md;
}

select{
  width: 50%;
  @apply rounded-md;
}