@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeeee;
}

form {
  padding: 2%;
  width: 70%;
}

input{
  width: 50%;
  @apply rounded-md;
}

select{
  width: 50%;
  @apply rounded-md;
}